@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  background: rgb(251, 251, 251);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.head {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.ham,
.close {
  cursor: pointer;
}

.nav {
  background: white;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgb(0 0 0 / 5%) 0px 8px 40px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  text-align: center;
  display: none;
  margin-top: 1rem;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 1rem 0 2rem 0;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.shit {
  font-weight: 700;
  color: rgb(133, 189, 235);
  background: rgb(22, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.nav__item {
  line-height: 7rem;
}

.nav__link {
  color: rgb(24, 23, 23);
}

.nav__link:hover {
  border-bottom: 3px solid silver;
  transition: 70ms;
}
